<section>
<h1 class="page-header">Mail send</h1>
<p class="lead">
  Please check your email for a magic link to sign in.
</p>

<small>
  But, since this is just a demo, look in the logs.
</small>
</section>
